
/* Bar button that opens / closes Notion page properties list */
.propertiesToggleBar {
    font-size: 6px;
    border: none;
    width: 100%;
    
}

.notion-peek-renderer > div:nth-child(2){
	max-width: 1500px !important;
	top: 30px !important;
	left: 30px !important;
	right: 30px !important;
	bottom: 30px !important;
	height: auto !important;
}

/* Uncomment this to fully hide comments block 
.notion-page-view-discussion {
    height: 0;
    display: none;
} */
